* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  font-size: 62.5%;
}

body{
  background-color: #F6F8FC;
}


.conatiner {
  max-width: 120rem;
  margin:  0 auto;  
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 900px;
  margin: 0 auto;
  padding: 4rem 0;
}

.content {
  width: 100vw;
  height: 100vh;
  padding: 1rem;   
}

.container-filters{
  display: flex;
  justify-content:center;

  position: fixed;
  top: 0;
  left: -18.75rem;
  
  width: 15.625rem;  
  height: 100%;

  color: #6e5896;
  background-color: #f2f2f2;
  padding-top: 8.75rem;
  transition: all .3s linear;
}



.container-filters.active{
  left: 0;
}



@media screen and (min-width: 992px){
  .content {
    max-width: 992px;
    height: auto;
    margin: 0 auto 1rem auto;
    border-radius: 1rem;
    background-color: #FFFFFF;
  }

  #pokemonList{
    margin: 0 auto;
  }
}


